.main_login_div {
  height: 100vh;
  background-image: url(../../assets/download.png), var(--background),
    url(../../assets/cover.jpg);
  background-size: 4.6875rem, cover, cover;
  background-position: 50%;
  overflow: hidden;
  position: relative;
}

.form_slider_container {
  width: 80%;
}

.logo_class {
  fill: var(--logo);
}

.login_form {
  background-color: var(--form_background);
  border-radius: 5px;
  position: relative;
}

.langBtn {
  all: unset;
  position: absolute;
  top: 5%;
  left: 5%;
  color: var(--lang_btn);
}

.login_slider {
  display: none;
}

.mode_btn {
  all: unset;
  position: absolute;
  top:3%;
  left:3%;
  color: rgb(247, 247, 247);
  background-color: #0d101b;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

@media (min-width: 768px) {
  .form_slider_container {
    width: 76%;
    height: 70vh;
  }
  .login_slider,
  .login_form {
    width: 50%;
  }
  .login_form {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .login_slider {
    display: block;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .logo_class {
    height: 3px !important;
  }
}

@media (min-width: 1200px) {
  .form_slider_container {
    width: 55%;
  }
}

