.slider_container {
    height: 70vh;
}

.mySwiper  , .slide_div {
    height: 100%;
}


.slide_div {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slide_img {
    object-fit: cover;
    object-position: center;
    text-align: center;
    height: 100%;
    transition: 2s ease-in-out all;
    border-radius: 5px;
}
