.form_slider_container {
    width: 58%;
    height: 76vh;
    border-radius: 5px;
    background-color: rgb(241, 241, 241);
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.slider_div {
    width: 55%;
}

.form_div {
    width: 40%;
}